.reveal h2 {
    padding-bottom: 50px;
}

.columns .slide-content {
    text-align: justify;
  }


.columns .slide-content > .column.is-half {
    padding-right: 150px;
}

.columns .slide-content > .column.is-one-third {
    padding-right: 75px;
}

.reveal img {
    border-radius: 10px 20px 30px 40px;
    height: 600px;
}

.reveal .code-wrapper {
    zoom: 2;
}